<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>WUSHU</TITLE>
		<!-- Meta Tags -->
		<META charset="utf-8" />
		<META name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0" />
		<!-- Socket.IO -->
		<SCRIPT type="text/javascript" src="./Asset/socket.io/socket.io-3.0.1.min.js"></SCRIPT>
		<!-- JQuery -->
		<SCRIPT type="text/javascript" src="./Asset/jquery/jquery.min.js"></SCRIPT>
		<SCRIPT type="text/javascript" src="./Asset/jquery/jquery-ui.js"></SCRIPT>
		<LINK rel="stylesheet" href="./Asset/jquery/jquery-ui.css" />
		<!-- Bootstrap -->
		<SCRIPT type="text/javascript" src="./Asset/bootstrap/js/bootstrap.min.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./Asset/bootstrap/css/bootstrap.min.css" />
		<!-- Fontawesome -->
		<LINK type="text/css" rel="stylesheet" href="./Asset/font-awesome/font-awesome.min.css" />
		<!-- ETC -->
		<SCRIPT type="text/javascript" src="./Asset/js0/desktop.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/style.css" />
		<!-- EXECUTE -->
		<SCRIPT type="text/javascript" src="./JS"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./CSS" />
		<!-- ETC -->
		<SCRIPT type="text/javascript" src="./Asset/js0/wushu.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/wushu.css" />
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/UI.css" />
	</HEAD>
	<BODY onselectstart="return false">
		<DIV id="spinnerpanel" class="spinnerpanel align-items-center d-flex justify-content-center">
			<span class="loader2_"></span>
			<span class="loader4_"></span>
			<span class="loader1"></span>
			<span class="loader3_"></span>
		</DIV>
	</BODY>
</HTML>