$background-color: white;
$text-color: black;

::-webkit-scrollbar {
	background: #444444;
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #808080;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

::-webkit-scrollbar-corner {
	background: #44444400;
}

body{
	background-color: $background-color;
	color: $text-color;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fontcode{
	font-family: "Victor Mono", "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	/*font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;*/
	letter-spacing: 1px;
	line-height: normal;
}
.vibration {
	animation: shake 0.8s linear infinite;
	-webkit-animation: shake 0.8s linear infinite;
	display: inline-block;
}

@keyframes shake{
	0%{
		transform: translate(2px, 2px) rotate(0deg);
	}
	10%{
		transform: translate(-2px, -3px) rotate(-2deg);
	}
	20%{
		transform: translate(-5px, 0px) rotate(2deg);
	}
	30%{
		transform: translate(5px, 3px) rotate(0deg);
	}
	40%{
		transform: translate(2px, -2px) rotate(2deg);
	}
	50%{
		transform: translate(-2px, 3px) rotate(-2deg);
	}
	60%{
		transform: translate(-5px, 2px) rotate(0deg);
	}
	70%{
		transform: translate(5px, 2px) rotate(-2deg);
	}
	80%{
		transform: translate(-2px, -2px) rotate(2deg);
	}
	90%{
		transform: translate(2px, 3px) rotate(0deg);
	}
	100%{
		transform: translate(2px, -3px) rotate(-2deg);
	}
}
@-webkit-keyframes shake{
	0%{
		-webkit-transform: translate(2px, 2px) rotate(0deg);
	}
	10%{
		-webkit-transform: translate(-2px, -3px) rotate(-2deg);
	}
	20%{
		-webkit-transform: translate(-5px, 0px) rotate(2deg);
	}
	30%{
		-webkit-transform: translate(5px, 3px) rotate(0deg);
	}
	40%{
		-webkit-transform: translate(2px, -2px) rotate(2deg);
	}
	50%{
		-webkit-transform: translate(-2px, 3px) rotate(-2deg);
	}
	60%{
		-webkit-transform: translate(-5px, 2px) rotate(0deg);
	}
	70%{
		-webkit-transform: translate(5px, 2px) rotate(-2deg);
	}
	80%{
		-webkit-transform: translate(-2px, -2px) rotate(2deg);
	}
	90%{
		-webkit-transform: translate(2px, 3px) rotate(0deg);
	}
	100%{
		-webkit-transform: translate(2px, -3px) rotate(-2deg);
	}
}

div.spinnerpanel{
	display: block;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 200000;
	width: 100%;
	height: 100%;
	background-color: #353538FF;
	
	span.loader1{
		border: 20px solid #80809050;
		border-radius: 50%;
		border-top: 20px solid #F8F9FBB0;
		border-bottom: 20px solid #F8F9FBB0;
		width: 150px;
		height: 150px;
		-webkit-animation: spin1 1.7s linear infinite;
		animation: spin1 1.7s linear infinite;
		position:absolute;
		left:calc(50% - 75px);
	}
	
	@-webkit-keyframes spin1 {
		0% {
			-webkit-transform: rotate(360deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
		}
	}
	@keyframes spin1 {
		0% {
			transform: rotate(360deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}

iframe.UI_iframe{
	width: 100%;
	height: 100%;
	border: none;
	
}



.modal {
	z-index: 1000000 !important;
	backdrop-filter: blur(10px);
}

.modal-footer {
	justify-content: center !important;
}

.modal-header {
	border-bottom: none;
}

.btn-check:checked+.tabbutton {
	background-color: #3a3d3e !important;
	border-color: #3a3d3e !important;
}




