<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>ELECTRON</TITLE>
		<!-- Meta Tags -->
		<META charset="utf-8" />
		<META name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0" />
		<!-- Bootstrap -->
		<SCRIPT type="text/javascript" src="./Asset/bootstrap/js/bootstrap.min.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./Asset/bootstrap/css/bootstrap.min.css" />
		<!-- Fontawesome -->
		<LINK type="text/css" rel="stylesheet" href="./Asset/font-awesome/font-awesome.min.css" />
		<!-- ETC -->
		<SCRIPT type="text/javascript" src="./Asset/js0/electron.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/style.css" />
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/electron.css" />
		<LINK type="text/css" rel="stylesheet" href="./Asset/css0/UI.css" />
	</HEAD>
	<BODY onselectstart="return false">
		
	</BODY>
</HTML>