<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>ATA.JS EXAMPLE</TITLE>
		<!-- Meta Tags -->
		<META charset="utf-8" />
		<META name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0" />
		<LINK rel="manifest" href="/manifest.json" />
		<LINK rel="icon" type="image/x-icon" href="./favicon.ico" />
		<!-- Chart.js -->
		<SCRIPT type="text/javascript" src="./chart/chart.js"></SCRIPT>
		<!-- JQuery -->
		<SCRIPT type="text/javascript" src="./jquery/jquery.min.js"></SCRIPT>
		<LINK rel="stylesheet" href="./jquery/jquery-ui.css" />
		<!-- Bootstrap -->
		<SCRIPT type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></SCRIPT>
		<LINK type="text/css" rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
		<!-- Fontawesome -->
		<LINK type="text/css" rel="stylesheet" href="./font-awesome/font-awesome.min.css" />
		<SCRIPT src="./default.js"></SCRIPT>
		<LINK href="./default.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<BODY onselectstart="return false">
		<DIV id="spinnerpanel" class="spinnerpanel align-items-center d-flex justify-content-center">
			<span class="loader1"></span>
		</DIV>
	</BODY>
</HTML>