<!-- ATACore Email örnek içeriği dosyası ATA.MailService.sendMailfromFile fonksiyonu ile kullanılabilir. -->

<html>
	<body>
		<h3>ATACore Kayıt Bilgileri</h3>
		<table>
			<tbody>
				<tr>
					<td>Username</td>
					<td>
						: <strong><% __append(username) %></strong>
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						: <strong><% __append(password) %></strong>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>